:root{
    --primarycolor:rgb(255, 0, 55);
}

.container{
    max-width: 360px;
}
#navbar{
    background: rgb(0,0,0);
    border-radius:0 0 50px 50px;

}

#mainnav{
    flex-direction: column;
    align-items: center;
}

.profile-content p{
    padding: 10px;
}

.profile-img{
    margin-top: 80px;
    height: 200px;
    width: 200px;
}



.content p{
    line-height: 1.2rem;
}
#port input{
    margin-bottom: 25px;
}
#popup img{
    max-height: 768px;
    max-width: 350px;
}
#footer h4{
    font-size: 0.7rem;
}
#social{
  display: none; 
  /* */
    /* left: 50%; */ 
}
#social a{
color: white;
}
