@import "tailwindcss";

@theme inline {
	--font-display: var(--font-playfair);
	--font-signature: var(--font-signature-script);
}

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: system-ui, sans-serif;
		background: #0a0a0a;
		color: #fff;
	}
}
img {
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	pointer-events: auto; /* keep clicks working for your lightbox */
}